In [2]:
import sqlite3
import pandas as pd

In [3]:
# CONNECT TO DB

conn = sqlite3.connect('../data/fantasy.db')
cursor = conn.cursor()

In [68]:
# Init tables

cursor.execute('''
CREATE TABLE IF NOT EXISTS entries (
    id INTEGER,
    entry_id INTEGER,
    contest_id INTEGER,
    selected_player_id INTEGER,
    player_full_name VARCHAR,
    salary INTEGER,
    FPGG float,
    points float,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (entry_id, contest_id, player_full_name)  -- Composite primary key for uniqueness
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY KEY,
    player_name VARCHAR,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS contests (
  start_date DATE,
  id INTEGER,
  Title TEXT,
  entry_id INTEGER,
  projected_score REAL,
  entry_fee REAL,
  winnings REAL,
  points INTEGER,
  rank INTEGER,
  entry_count INTEGER,
  no_veterans BOOLEAN,
  rookies_only BOOLEAN,
  PRIMARY KEY (id, entry_id)  -- Composite primary key for uniqueness

);
''')

conn.commit()

## Load Data

In [10]:
entries_df = pd.read_csv("../data/entries.csv", encoding = 'latin1')

In [11]:
entries_df.head()

    entry_id  contest_id           Player  selected_player_id  salary
0  221146829    14240126    Jalen Brunson                6044      45
1  221146829    14240126       Cam Thomas                6569      27
2  221146829    14240126  Jordan Clarkson                5357      25
3  221146829    14240126    Dyson Daniels                6698      11
4  221146829    14240126    Rui Hachimura                6171      20

In [48]:
## load contests into table contests:
contest_history_df =  pd.read_csv('../data/Yahoo_DF_my_contest_history.csv')

In [49]:
contest_history_df.rename(columns = {'Start Date':'start_date','Id':'id','Entry Id':'entry_id','Entry Fee':'entry_fee',
                                     'Winnings':'winnings', 'Points': 'points', 'Rank':'rank', 'Entry Count':'entry_count'
                                     }, inplace = True)

In [53]:
contest_history_df[['start_date','id','Title','entry_id','entry_fee','winnings','points','rank','entry_count']].to_sql('contests',  conn, if_exists = 'append', index = False)

IntegrityError: UNIQUE constraint failed: contests.id, contests.entry_id

In [21]:
contest_history_df.head()

,start_date,Sport,id,League Id,Title,entry_id,Status,entry_fee,winnings,points,rank,entry_count,Entry Limit
0,10/25/2024,NBA,14240139,NaN,NBA $2 10-Team 50/50 [No Veterans],221170758,resolved,$2.00,$3.60,303.4,1,9,10
1,10/25/2024,NBA,14240126,NaN,NBA Free 50-Team Group,221146829,resolved,$0.00,$0.00,232.8,30,50,50
2,10/26/2024,NBA,14243517,NaN,NBA $1 10-Team 50/50 [Rookie Only],221191464,resolved,$1.00,$1.80,260.1,2,3,10
3,10/27/2024,NBA,14246819,NaN,NBA $1 10-Team 50/50 [Rookie Only],221260790,resolved,$1.00,$1.80,302.6,1,4,10

In [51]:
## Update Query:

# Update contests.no_veterans
cursor.execute("""
    UPDATE contests
    SET no_veterans = CASE
        WHEN Title LIKE '%No Veterans%' THEN 1
        ELSE 0
    END;
""")

# Update contests.rookies_only
cursor.execute("""
    UPDATE contests
    SET rookies_only = CASE
        WHEN Title LIKE '%Rookie Only%' THEN 1
        ELSE 0
    END;
""")

# Delete duplicates, keeping only the first occurrence for each combination of id and entry_id
cursor.execute("""
    DELETE FROM contests
    WHERE rowid NOT IN (
        SELECT MIN(rowid)
        FROM contests
        GROUP BY id, entry_id
    );
""")



# Commit the changes to the database
conn.commit()

In [71]:
# Adhoc DB operation:

cursor.execute("""

""")

# Commit the changes to the database
conn.commit()

In [72]:
# CHECK RESULTS
cursor.execute("Select * from entries;")

#conn.commit() # if making db updates
cursor.fetchall()

[]